<a href="https://colab.research.google.com/github/varunsuresh07/innomatics/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
orders = pd.read_csv("orders.csv")
orders.head()
users = pd.read_json("users.json")
users.head()
import sqlite3

conn = sqlite3.connect("restaurants.db")
cursor = conn.cursor()
with open("restaurants.sql", "r") as f:
    sql_script = f.read()
cursor.execute("DROP TABLE IF EXISTS restaurants;")
conn.commit()

cursor.executescript(sql_script)
conn.commit()
restaurants = pd.read_sql(
    "SELECT * FROM restaurants",
    conn
)

restaurants.head()
orders_users = orders.merge(
    users,
    on="user_id",
    how="left"
)
final_df = orders_users.merge(
    restaurants,
    on="restaurant_id",
    how="left"
)
final_df.head()
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [12]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
gold_df = df[df['membership'] == 'Gold']
city_gold_revenue = (
    gold_df
    .groupby('city')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

city_gold_revenue
city_gold_revenue.idxmax()

'Chennai'

In [14]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

cuisine_avg_order = (
    df
    .groupby('cuisine')['total_amount']
    .mean()
    .sort_values(ascending=False)
)

cuisine_avg_order

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [15]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Step 1 & 2: total spend per user
user_total_spend = df.groupby('user_id')['total_amount'].sum()

# Step 3: users with spend > 1000
high_value_users = user_total_spend[user_total_spend > 1000]

# Step 4: count distinct users
count_users = high_value_users.count()

count_users

np.int64(2544)

In [16]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ['3.0–3.5', '3.6–4.0', '4.1–4.5', '4.6–5.0']

df['rating_range'] = pd.cut(
    df['rating'],
    bins=bins,
    labels=labels,
    include_lowest=True
)
rating_revenue = (
    df
    .groupby('rating_range')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

rating_revenue
rating_revenue.idxmax()

/tmp/ipython-input-3219031785.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('rating_range')['total_amount']

'4.6–5.0'

In [17]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Step 1: Filter Gold members
gold_df = df[df['membership'] == 'Gold']

# Step 2 & 3: Average order value per city
city_avg_order_gold = (
    gold_df
    .groupby('city')['total_amount']
    .mean()
    .sort_values(ascending=False)
)

city_avg_order_gold

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [19]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
cuisine_stats = (
    df
    .groupby('cuisine')
    .agg(
        distinct_restaurants=('restaurant_id', 'nunique'),
        total_revenue=('total_amount', 'sum')
    )
    .sort_values('distinct_restaurants')
)

cuisine_stats

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

In [20]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Total number of orders
total_orders = len(df)

# Number of orders by Gold members
gold_orders = len(df[df['membership'] == 'Gold'])

# Percentage
percentage_gold_orders = (gold_orders / total_orders) * 100

round(percentage_gold_orders)

50

In [24]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
restaurant_stats = (
    df
    .groupby(['restaurant_id', 'restaurant_name_x', 'restaurant_name_y'])
    .agg(
        total_orders=('order_id', 'count'),
        avg_order_value=('total_amount', 'mean')
    )
)

low_orders = restaurant_stats[restaurant_stats['total_orders'] < 20] \
                .sort_values('avg_order_value', ascending=False)

low_orders.head(10)

,,,total_orders,avg_order_value
restaurant_id,restaurant_name_x,restaurant_name_y,,
294,Hotel Dhaba Multicuisine,Restaurant_294,13,1040.222308
262,Hotel Cafe Punjabi,Restaurant_262,18,1029.473333
77,Sri Mess Punjabi,Restaurant_77,12,1029.180833
193,Swagath Eatery Multicuisine,Restaurant_193,15,1026.306667
7,Ruchi Biryani Punjabi,Restaurant_7,16,1002.140625
298,Swagath Foods Andhra,Restaurant_298,15,989.822000
56,Sri Delights Pure Veg,Restaurant_56,18,989.467222
135,Amma Eatery Non-Veg,Restaurant_135,18,988.702222
343,Sai Cafe Andhra,Restaurant_343,17,986.026471
312,Udupi Curry House Chinese,Restaurant_312,14,982.730000

In [29]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

combo_revenue = (
    df
    .groupby(['membership', 'cuisine'])['total_amount']
    .sum()
    .sort_values(ascending=False)
)

combo_revenue

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [31]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Ensure order_date is datetime
df['order_date'] = pd.to_datetime(df['order_date'])

# Extract quarter
df['quarter'] = df['order_date'].dt.quarter

# Total revenue per quarter
quarter_revenue = (
    df
    .groupby('quarter')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

quarter_revenue

/tmp/ipython-input-2643232344.py:6: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['order_date'] = pd.to_datetime(df['order_date'])

quarter
3    2037385.10
4    2018263.66
1    2010626.64
2    1945348.72
Name: total_amount, dtype: float64

In [32]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_orders_count = df[df['membership'] == 'Gold'].shape[0]

gold_orders_count

4987

In [34]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter Hyderabad orders
hyd_df = df[df['city'] == 'Hyderabad']

# Total revenue
hyd_revenue = hyd_df['total_amount'].sum()

round(hyd_revenue)

1889367

In [35]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

distinct_users = df['user_id'].nunique()

distinct_users

2883

In [37]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter Gold members
gold_df = df[df['membership'] == 'Gold']

# Average order value
avg_order_value_gold = gold_df['total_amount'].mean()

round(avg_order_value_gold, 2)

np.float64(797.15)

In [38]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
gold_df = df[df['membership'] == 'Gold']
gold_city_revenue = (
    gold_df
    .groupby('city')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

gold_city_revenue
top_city = gold_city_revenue.idxmax()
top_city
orders_in_top_city = gold_df[gold_df['city'] == top_city].shape[0]

orders_in_top_city

1337

In [39]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter restaurants with rating >= 4.5
high_rating_orders = df[df['rating'] >= 4.5]

# Count orders
high_rating_orders_count = high_rating_orders.shape[0]

high_rating_orders_count

3374

In [40]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
df.shape[0]

10000